<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
>

    <testsuites>
        <testsuite name="VirusTotal API wrapper Test Suite" >
            <directory>tests/VirusTotal</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="max_execution_time" value="0"/>
        <const name="GLOBAL_API_KEY" value="fake key"/>
    </php>
</phpunit>
